  <div class="form-group">
    <label for="sueldo-base-mensual">Sueldo base mensual</label>
    <input type="number" class="form-control" id="sueldo-base" name="SueldoBase">
  </div>
  <div class="form-group">
    <label for="ingreso-minimo-mensual">Ingreso mínimo mensual</label>
    <input type="number" class="form-control" id="ingreso-mínimo" name="IngresoMinimo">
  </div>