  <div class="form-group" data-dynamic-field="true">
    <label for="base_salary">Sueldo base mensual</label>
    <input type="number" class="form-control" id="monthly_base_salary" name="monthly_base_salary" data-dynamic-input="true">
  </div>
  <div class="form-group" data-dynamic-field="true">
    <label for="minimum_income">Ingreso mínimo mensual</label>
    <input type="number" class="form-control" id="minimum_monthly_income" name="minimum_monthly_income" data-dynamic-input="true">
  </div>