  <div class="form-group" data-dynamic-field="true">
    <label for="monthly_salary_label">Salario mensual</label>
    <input type="number" class="form-control" id="monthly_salary" name="monthly_salary" data-dynamic-input="true">
  </div>
  <div class="form-group" data-dynamic-field="true">
    <label for="worked_days_semester_label">Días trabajados en el semestre</label>
    <input type="number" class="form-control" id="worked_days_semester" name="worked_days_semester" data-dynamic-input="true">
  </div>