  <div class="form-group">
    <label for="salario-diario">Salario diario</label>
    <input type="number" class="form-control" id="salario-diario" name="SalarioDiario">
  </div>
  <div class="form-group">
    <label for="dias-trabajados-anno">Días trabajados en el año</label>
    <input type="number" class="form-control" id="dias-trabajados-anno" name="DiasTrabajadosAnno">
  </div>