<!-- app/views/surveys/_form.html.erb -->
<h1>Cálculo de Gratificaciones</h1>
<form action="<%= base_survey_path %>" method="get" id="survey-form">
<div id="alerts-container">
</div>
  <div class="form-group">
    <label for="country-select">País del colaborador</label>
    <select id="country-select" name="survey[country]" class="form-control" required>
      <option value="">– select –</option>
      <%= options_for_select(@country_options, params.dig(:survey, :country)) %>
    </select>
  </div>

  <div id="dynamic-fields">
    <!-- codigo dinamico de de campos -->
  </div>

  <button type="submit" id="calculate-button" class="btn btn-primary" disabled>Calcular</button>

  <div class="form-group mt-3" id="result-container" style="display: none">
    <label for="result-label-detail">Detalle</label>
    <input type="text" readonly class="form-control" id="result-field-detail" value="">
    <label for="result-label-amount">Monto</label>
    <input type="text" readonly class="form-control" id="result-field-amount" value="">
    <label for="result-label-currency">Moneda</label>
    <input type="text" readonly class="form-control" id="result-field-currency" value="">
  </div>

</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const countrySelect = document.getElementById("country-select");
    const dynamicFieldToFill = document.getElementById("dynamic-fields");
    const calculateButton = document.getElementById("calculate-button");
    const resultContainer = document.getElementById("result-container");
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    var country = "";

    countrySelect.addEventListener("change", function () {
      clearAlerts();
      resultContainer.style.display = 'none';

      country = this.value;
      setResultValues()

      calculateButton.disabled = !country

      if (!country) {
        dynamicFieldToFill.innerHTML = ""
        console.log("No country was selected")
        return
      }

      console.log("selected country:", country);
      fetch(
        `<%= survey_gratification_path %>?country=${encodeURIComponent(country)}`,
        { headers: { "Accept": "text/html" } }
      )
        .then(r => r.ok ? r.text() : Promise.reject(r.statusText))
        .then(html => {
          dynamicFieldToFill.innerHTML = html;
        })
        .catch(console.error);
    });


    calculateButton.addEventListener("click", (event) => {
      clearAlerts();

      
      // If you want to stop the form from actually submitting,
      // uncomment the next line:
      event.preventDefault();

      console.log("Calculate button was pressed!");

      const inputData = Array.from(document.querySelectorAll("[data-dynamic-input]")).map(e => ({id:e.id,name:e.name,value:e.value.trim()}))

      
      const validationResult = validateInputData(inputData)

      if(!validationResult.valid) {
        showAlerts(validationResult.errors);
        console.error(validationResult)
        return
      }
      
      const input = inputData.reduce((acc, currentValue) => {
        acc[currentValue.name] = currentValue.value
        return acc
      }, {});

      input["country"] = country;
      console.log({ input })

      let details = "";
      let amount = "";
      let currency = "";

      fetch(`<%= calculate_gratification_path %>`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',       
          'Accept': 'application/json',
          'X-CSRF-Token': csrfToken 
        },
        body: JSON.stringify({input})               
      })
        .then(response => {
          if (!response.ok) throw new Error(response.statusText);
          return response.json();                   
        })
        .then(data => {
          console.log('Got back:', data);
          details = data?.data?.details;
          amount = data?.data?.amount;
          currency = data?.data?.currency;
          setResultValues(details,amount,currency)
        })
        .catch(err => {
          console.error('The input couldnt be loaded: ', err);
        });


      resultContainer.style.display = 'block';

    });
  });

  function validateInputData(input) {
    const errors = []
    input.forEach(e => {
      const element = document.getElementById(e.id)
      if(!e?.value) {
        errors.push(`El campo "${element?.previousElementSibling?.textContent || ""}" no puede estar vacio`)
        return;
      }

      if(Number(e.value) <= 0) {
        errors.push(`El campo "${element?.previousElementSibling?.textContent || ""}" no puede tener un valor menor a cero`)
        return;
      } 
    })

    if(errors.length) {
      return {valid:false,errors}
    }

    return {valid:true,errors:[]}

  }

  function setResultValues(detail,amount,currency) {
    const resultFieldDetails = document.getElementById("result-field-detail");
    const resultFieldAmount = document.getElementById("result-field-amount");
    const resultFieldCurrency = document.getElementById("result-field-currency");
    resultFieldDetails.value = detail || '';
    resultFieldAmount.value = String(amount ?? '');
    resultFieldCurrency.value = currency || '';

  }

  function clearAlerts(alertContainerName='alerts-container') {
    const container = document.getElementById(alertContainerName);
    container.innerHTML = '';
    container.style.display = 'none';
  }

  function showAlerts(messages,alertContainerName='alerts-container') {
    const container = document.getElementById(alertContainerName);

    // clear out any old alerts
    container.innerHTML = '';
    setResultValues()

    messages.forEach(msg => {
      // build <div class="alert alert-danger"><div>msg</div></div>
      const alertWrapper = document.createElement('div');
      alertWrapper.classList.add('alert', 'alert-danger');

      const inner = document.createElement('div');
      inner.textContent = msg;
      alertWrapper.appendChild(inner);

      container.appendChild(alertWrapper);
    });
    container.style.display = 'block';
  }
</script>