<!-- app/views/surveys/show.html.erb -->
<%= form_with url: base_survey_path, method: :get, local: true, scope: :survey do |f| %>
  <div class="field" id="country-select">
    <%= label_tag :country, "Select your country" %><br>
    <%= select_tag :country,
         options_for_select([["– select –",""],["USA","usa"],["Canada","canada"]]),
         id: "country-select"
    %>
  </div>

  <div id="dynamic-fields">
  
</div>

<% end %>  

<script>
  document.getElementById("country-select")
    .addEventListener("change", function() {
      const country = this.value
      fetch(`<%= survey_gratification_path %>?country=${country}`, {
        headers: { "Accept": "text/html" }
      })
      .then(r => r.text())
      .then(html => {
        document.getElementById("dynamic-fields").innerHTML = html
      })
    })
</script>


